.titolo{
  margin: 100px 0 20px 0;
  font-size: 40px;
}

.sottotitolo{
  margin: 20px 0;
}

h2, h3, p{
  text-align: center;
}

.maps{
  max-width: 200px;
}

.screen{
  max-width: 300px;
}

.wrapper{
  background-color: #F9F9F9;
  margin-top: 100px;
}

.middle-icon{
  width: 200px;
  margin-left: 25%;
}

.bottom-icon{
  max-width: 250px;
  margin-left: 40%;
  background-color: #428BCA;
  border-radius: 50%;
  padding: 20px;
}

hr{
  margin: 10px 0 50px 0;
}

@media screen and (min-width: 769px) and (max-width: 992px){

  .para{
    margin: 0 30px;
  }

  .tre{
    margin-left: 38%;
    margin-top: 50px;
  }

  .bottom{
    width: 33%;
    float: left;
  }

  .bottom-icon{
    margin-left: 0;
  }

  hr {
    display: none;
  }
}
